extends ./template.jade

block title
    title resume

block head
    link(rel="stylesheet" href="/style/basic.css")
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

block content
    - var footeFellow = 'http://admissions.miami.edu/undergraduate/academics/programs-of-distinction/foote-fellows/index.html'
    div#main.bordered.centered    
        h1.text-center Roy Howie
        ul.details.no-separator
            li
                a.link-no-show(href='mailto:roydhowie@gmail.com') roydhowie@gmail.com
            li
                i.fa.fa-fw.fa-stack-overflow
                a(href='/stackoverflow') royhowie (7.2k)
            li
                i.fa.fa-fw.fa-github
                a(href='/github') royhowie
            
        .strike #[h2 Education]
        h3 University of Miami
            span.time May 2018
        p.small.tabbed B.S. Pure Mathematics and Computer Science
        ul.inline.tabbed
            li 3.924 GPA
            li #[a(href=footeFellow) Foote Fellow]
            li Dean's List (5 of 5)
            li attending on merit scholarship
        ul.inline.tabbed
            li C & Unix
            li Operating Systems
            li Machine Learning
            li Computer Architecture
            li Computer Graphics
            li Data Structures & Algorithms
            
            li Algebra
            li Real + Complex Analysis
            li Differential Geometry
            li Topology
            
        ul.inline.tabbed
            li Spring 2017: Algebra
            li Topology
            li Number Theory
            li Artificial Intelligence
            li Software Engineering

        .strike #[h2 Work & Projects]
        h3 Gables Tutoring
            span.time May 2014 to June 2016
            span.link #[a(href='//gablestutoring.com') gablestutoring.com]
        p.small.tabbed.
            Built on node.js and mongoDB, the platform serves over 1k users.
            With its online course registration and interactive tutoring session
            scheduler, the new website more than doubled yearly revenue.
            Features automatic monthly billing via a cron and the PayPal API
            and push notifications to tutors for scheduling changes.
            
        h3 BCPL Operating System
            span.time Spring 2016
            span "A" grade in CSC421
            span.link
                a(href='//github.com/royhowie/os') #[i.fa.fa-fw.fa-github]royhowie/os
        p.small.tabbed.
            Wrote an operating system in BCPL, a predecessor to C. Implemented a
            fully recursive block-tree file system, low-level interrupts, and
            process timesharing using virtual memory.
            
        h3 Geomancer Digitization
            span.time Nov 2014 to Nov 2015
            span.link
                a(href='//github.com/royhowie/geomancy') #[i.fa.fa-fw.fa-github]royhowie/geomancy
        p.small.tabbed.
            Research project with
            #[a(href='http://www.cs.miami.edu/home/ogihara/') Prof. Ogihara] 
            to digitize the centuries-old "Book of Fate" from the UMiami Otto G.
            Richter Library Department of Special Collections.
            
        h3 Plebvote
            span.time Aug 2014 to Nov 2014
            span.link #[a(href='//plebvote.com') plebvote.com]
        p.small.tabbed.
            Live voting platform marketed to local high schools.
            Node.js, websockets, d3.js.

        - var freelance = 'http://royhowie.com/current'
        - var freelanceShort = 'royhowie.com/current'
        h3 Freelance Software Development
            span.link #[a(href=freelance)= freelanceShort]
        p.small.tabbed.
            Projects vary in intensity and requirements. Current project: a web
            campaign to fundraise for an art installation in the Virgin Islands.

        .strike #[h2 Skills]
        ul.details
            li JavaScript
            li C
            li C++
            li mongoDB
            li Unix
            li git
            li node.js
            li React
            li Java
            li vim
