extends ./template.jade

block title
    title resume

block head
    link(rel="stylesheet" href="/style/basic.css")
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

block content
    - var footeFellow = 'http://admissions.miami.edu/undergraduate/academics/programs-of-distinction/foote-fellows/index.html'
    div#main.bordered.centered    
        h1.text-center Roy Howie
        ul.details
            li
                a.link-no-show(href='mailto:roydhowie@gmail.com') roydhowie@gmail.com
            li 4044 Malaga Ave., Miami, FL 33133
            li 631 327 1033
        ul.details.no-separator
            li
                i.fa.fa-fw.fa-stack-overflow
                a(href='/stackoverflow') royhowie (6.1k)
            li
                i.fa.fa-fw.fa-github
                a(href='/github') royhowie            
        
            
        .strike #[h2 Education]
        h3 University of Miami
            span.time Aug 2014 to May 2018
        p.small.tabbed Majors: Pure Mathematics and Computer Science
        ul.inline.tabbed
            li 3.913 GPA
            li #[a(href=footeFellow) Foote Fellow]
            li Dean's List (3 of 3)
            li attending on merit scholarship
        ul.inline.tabbed
            li C Programming & Unix
            li Computer Organization & Architecture
            li Data Structures & Algorithms
            li Differential Geometry
            li Linear Algebra
            li Multivariable Calculus
            li Real Analysis I
        ul.inline.tabbed #[small spring 2016 courses: ]
            li Abstract Algebra
            li Complex Analysis
            li Differential Equations
            li Principles of Computer Operating Systems
            li Real Analysis II
            li Software Engineering


        .strike #[h2 Experience]
        h3 Everglades Holiday Park
            span.time May 2015 to present
            span.link
                a(href='//www.evergladesholidaypark.com') evergladesholidaypark.com
        p.small.tabbed.
            Developed a ticketing terminal and admin interface for the park as
            an alternative to the SaaS in use. Will serve 100k+ online purchases
            and save $50k+ each year. Included an employee iOS app to scan
            tickets (QR codes) built with Swift. Goes live spring 2016.

        h3 Gables Tutoring
            span.time May 2014 to present
            span.link #[a(href='//gablestutoring.com') gablestutoring.com]
        p.small.tabbed.
            Built a platform serving over 500 users. Allows for online course
            registration, features an interactive tutoring session scheduler
            which compiles tutor availability on-the-fly, and handles all
            billing. Also notifies tutors via iCalendar alerts of client
            scheduling changes.
        p.small.tabbed.
            "Significantly reduced, if not eliminated altogether, time spent
            bookkeeping." —— owner
            
        h3 Geomancer Digitization
            span.time Nov 2014 to Spring 2016
            span.link #[a(href='//github.com/royhowie/geomancy') github.com/royhowie/geomancy]
        p.small.tabbed.
            Research project with computer science professor
            #[a(href='http://www.cs.miami.edu/home/ogihara/') Dr. Ogihara]
            to digitize a centuries-old geomancy book——"The Book
            of Fate"——from the University of Miami Otto G. Richter Library
            Department of Special Collections. Goes live spring 2016.
            
        h3 Plebvote
            span.time Aug 2014 to Nov 2014
            span.link #[a(href='//plebvote.com') plebvote.com]
        p.small.tabbed.
            Designed and developed a live voting platform built on node.js
            and marketed it to local schools for student elections.
            
        h3 Youth Sailing Coach
            span.time 2010 to 2014, summer
        p.small.tabbed.
            Taught beginners aged 7 to 12 the art of sailing. In spring 2014,
            headed the Little Salts Youth Sailing Program for new sailors aged
            5 to 7.


        .strike #[h2 Programming]
        ul.details
            li JavaScript
            li node.js
            li express.js
            li meteor
            li C
            li HTML5
            li CSS
            li Less
            li Sass
            li Unix
            li Bash
            li Mac OS X
            li Linux
            li Git
            li Vim
            li Java
            li Swift
            li iOS
            li Python
