extends ./template.jade

block title
    title resume

block head
    link(rel="stylesheet" href="/style/basic.css")
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

block content
    - var footeFellow = 'http://admissions.miami.edu/undergraduate/academics/programs-of-distinction/foote-fellows/index.html'
    div#main.bordered.centered    
        h1.text-center Roy Howie
        ul.details.no-separator
            li
                a.link-no-show(href='mailto:roydhowie@gmail.com') roydhowie@gmail.com
            li
                i.fa.fa-fw.fa-stack-overflow
                a(href='/stackoverflow') royhowie (6.4k)
            li
                i.fa.fa-fw.fa-github
                a(href='/github') royhowie            
        
            
        .strike #[h2 Education]
        h3 University of Miami
            span.time May 2018
        p.small.tabbed B.S. in Pure Mathematics and in Computer Science
        ul.inline.tabbed
            li 3.920 GPA
            li #[a(href=footeFellow) Foote Fellow]
            li Dean's List (4 of 4)
            li attending on merit scholarship
        ul.inline.tabbed
            li Abstract Algebra
            li Real + Complex Analysis
            li Differential Geometry

            li C Programming & Unix
            li Operating Systems
            li Computer Architecture
            li Data Structures & Algorithms

        .strike #[h2 Experience]
        h3 Everglades Holiday Park
            span.time May 2015 to present
            span.link
                a(href='//www.evergladesholidaypark.com') evergladesholidaypark.com
        p.small.tabbed.
            Developed a ticketing terminal and admin interface for the park as
            an alternative to the SaaS in use. Will serve 100k+ online purchases
            and save $50k+ each year.

        h3 Gables Tutoring
            span.time May 2014 to present
            span.link #[a(href='//gablestutoring.com') gablestutoring.com]
        p.small.tabbed.
            Platform serving 1k+ users. Online course registration.
            Interactive & innovative tutoring session scheduler. Automated
            payment plans & online billing. Full admin interface. Push
            notifications to tutors re client scheduling changes.
        p.small.tabbed.
            "Significantly reduced if not eliminated time spent
            bookkeeping." —— owner
            
        h3 Geomancer Digitization
            span.time Nov 2014 to Nov 2015
            span.link
                a(href='//github.com/royhowie/geomancy') #[i.fa.fa-fw.fa-github]royhowie/geomancy
        p.small.tabbed.
            Research project with
            #[a(href='http://www.cs.miami.edu/home/ogihara/') Prof. Ogihara] 
            to digitize the centuries-old "Book of Fate" from the UMiami Otto G.
            Richter Library Department of Special Collections.
            
        h3 Plebvote
            span.time Aug 2014 to Nov 2014
            span.link #[a(href='//plebvote.com') plebvote.com]
        p.small.tabbed.
            Designed, developed, and marketed a live voting platform to local
            high schools.
            
        h3 Youth Sailing Coach
            span.time 2010 to 2014, summer
        p.small.tabbed.
            Taught kids to sail. Headed the Little Salts learn-to-sail program in 2014.

        .strike #[h2 Programming]
        ul.details
            li C
            li Unix
            li git
            li bash
            li vim
            li MEAN
            li es7
            li babel
            li meteor
            li swift
            li BCPL
